.center {
    display: block;
    margin: 0px auto;
    width: auto;
    text-align: center;
}

ul {
    list-style-type: none;
    margin-bottom: 10%;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    display: block;
}

a {
    color: inherit;
}

.right {
    float: right;
}

.centerli {
    margin-left: 32.5%;
}

.navbar {
    color: #000000DE
}

.footbar {
    position: relative;
    bottom: -470px;
}

