.center {
    display: block;
    margin: 00px auto;
    width: auto;
    text-align: center;
}

ul {
    list-style-type: none;
    margin-bottom: 10%;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    display: block;
}

.right {
    float: right;
}


